[submodule "course/2020-ucsd-cse230/hw0"]
	path = course/2020-ucsd-cse230/hw0
	url = git@github.com:qobilidop/2020-ucsd-cse230-hw0.git
[submodule "course/2020-ucsd-cse230/hw1"]
	path = course/2020-ucsd-cse230/hw1
	url = git@github.com:qobilidop/2020-ucsd-cse230-hw1.git
[submodule "course/2020-ucsd-cse230/hw2"]
	path = course/2020-ucsd-cse230/hw2
	url = git@github.com:qobilidop/2020-ucsd-cse230-hw2.git
[submodule "course/2020-ucsd-cse230/hw3"]
	path = course/2020-ucsd-cse230/hw3
	url = git@github.com:qobilidop/2020-ucsd-cse230-hw3.git
[submodule "course/2020-ucsd-cse230/final"]
	path = course/2020-ucsd-cse230/final
	url = git@github.com:qobilidop/2020-ucsd-cse230-final.git
[submodule "sub/android"]
	path = sub/android
	url = git@github.com:qobilidop/dojo-android.git
